.container {
    background-color: white;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-wrap: wrap;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.column video {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}


/* tablet */
@media screen and (max-width: 800px){

    .column {
        flex: 50%;
        max-width: 50%;
    }
  
}

/* phone  */
@media screen and (max-width: 600px){
    
    body{
        background-color: #dcff43;
    }

    .column {
    flex: 100%;
    max-width: 100%;
    }

}