h1 {
    font-family: "caprasimo", serif;
    font-size: 2.5em;
    font-weight: 400;
    padding-bottom: 10px;
    line-height: 1;
}

img {
  width: 30px;
  padding-bottom: 30px;
  padding-right: 5px;
}


.container {
    background-color: white;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-wrap: wrap;
}

nav img {
  padding: 0;
}

main {
    background-color: white;
    flex: 1 1 100%;
}

.social_icons :hover {
  opacity: 30%;
}

/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 36px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
.button {
  background-color: black;
  color: white;
  font-size: 16px;
  font-weight: 400;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  float: right;
  margin-top: 36px;
  margin-right: 0;
}

input.button [type=submit]:hover {
  background-color: #FC4AF9;
  color: black;
}

/* Style the container */
.contact {
  border-radius: 5px;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

footer {
  margin-top: 60px;
}

/* tablet */
@media screen and (max-width: 800px){

}

/* phone  */
@media screen and (max-width: 600px){
  
  label {
  padding: 12px 12px 12px 0;
  }  

  img {
    width: 25px;
    padding-right: 5px;
  }

  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}