h3 {
    font-family: "poppins", sans-serif;
    font-size: 1em;
    font-weight: 600;
    text-align: left;
    padding: 0 0 20px;
}


.p2 {
    font-family: "poppins", serif;
    font-size: 14px;
    padding-bottom: 20px;
}


.container {
    background-color: white;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-wrap: wrap;
}

div.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 20px;
}

div.gallery-item {
  padding: 0 10px;
  width: 33%;
}


div.gallery-item img {
  width: 100%;
  height: auto;
}


main {
    background-color: white;
    padding: 40px 30px;
    flex: 1 1 65%;
}

aside {
    background-color: white;
    padding: 40px 30px;
    flex: 1 1 35%;
    display: block;
    justify-content: start;
}

.aside-text {
    display: flex;
    flex-direction: column;
}


/* tablet */
@media screen and (max-width: 800px){
    
    header{
        flex: 50%;
    }

    header img{
        flex-direction: row;
    }

    main{
    flex: 1 1 100%;
    padding: 20px 30px 10px;
    }

    aside{
        flex: 1 1 100%;
        padding: 20px 30px;
    }
}


@media screen and (max-width: 600px){

    main{
    flex: 1 1 100%;

    }

    aside{
        flex: 1 1 100%;
    }

    h2 {
        padding-right: 0;
    }
}